.terraform/
.tfstate
.tfstate.
crash.log
crash..log

*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json

!dev.tfvars
!prod.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

*.tfplan
*.plan

*.log

.DS_Store